#header {
  position: fixed;
  left : 0;
  top : 0;
  width : 100%;
  height : 80px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }

 #header-content{
  position:absolute;
  bottom:0;
  color: white;
  text-align: left;
  font-size: 40px;
  text-indent: 20px; 
 }

/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 230px;
  top: 80px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
  font-size: 18px;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.split {
  position: fixed;
  display: block;
  background-color: #f1f1f1;
  bottom: 35px;
  width: 230px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #87ceeb;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #87ceeb;
  color: white;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

.dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  color: black;
  height: 60px;
}

.dropdown-container {
  display: none;
  background-color: #f1f1f1;
  padding-left: 20px;
}


#date_{
  width : 70%;
  font-size: 14px;
  height: 35px;
  border: 1px solid #d3d3d3;
  text-indent: 6px;
  outline: none;
  border-radius: 5px;
  color: dimgray;
}

#date_:focus{
  border-color:dodgerblue;
}

.btn {
  border: 1px solid dodgerblue;
  background-color: white;
  padding: 5px 28px;
  font-size: 16px;
  cursor: pointer;
}

.success {
  border-color: #2196f3;
  color: dodgerblue;
}

.success:hover {
  background-color: #2196f3;
  color: white;
}

