 div.contentBox {
    position : fixed;
    margin-left: 250px;
    padding: 15px 16px;
    height: 900px;
    top: 10px;
    width: 90%;
  }

  div.table-responsive{
    overflow-y: auto;
    height: 500px;
    width: 90%;
  }
  
  .th{
    background-color:lightblue;
  }